*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    padding-left: 150px;
    
    
    
}
h3{
    font-size: 50px;
    font-weight: 900;
}

header{ 
    
    display: flex;
    flex-direction: column; 
    background-image: url("Assets/Hero-bg.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
    font-size: 60px;
    position: relative;
    margin: 267.5px 309px;
}
.banner-content{
    padding-bottom: 37px;
    text-align: center;
    
}
.button-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-style: none;
    display: inline-block;
    cursor: pointer;
    
}
